#edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#edit-form input {
    width: 50%
}

#edit-form p {
    display: inline;
}

h1 {
    text-align: center;
}

